.Info {
	display: flex;
	flex-direction: row;
	gap: 25px;
	align-items: flex-end;

	img {
		width: 105px;
		height: 105px;
	}

	span {
		color: var(--theme-text);
	}

	div {
		p {
			cursor: pointer;
			overflow: hidden;
			display: flex;
			align-items: center;
			color: var(--color-neutral);
		}
	}
}

.speekerIcon {
	margin-left: 7px;
	width: min(3rem, 13px);
}