.listElement {
	font-size: 0.9rem;
	color: #E0E0E6;
	font-weight: 400;

	display: flex;
	justify-content: space-between;
	align-items: center;

	p {
		overflow: hidden;
		font-size: 0.7rem;
		color: #66686A;
	}

	svg {
		flex-grow: 0;
		flex-shrink: 0;
	}
}

.Posts {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.moreIcon {
	svg {
		position: relative;
		top: 2.5px;
	}

	font-size: 0.8rem;
	color: #9CA2A7;
	font-weight: 400;
	overflow: hidden;
	line-height: 16px;
}