.mt-20 {
	margin-top: 20px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-40 {
	margin-top: 50px;
}

.mr-10 {
	margin-right: 10px;
}

.mr-5 {
	margin-right: 5px;
}

.mb-40 {
	margin-bottom: 40px;
}