$header-1: min(4.5rem, 20px);
$header-2: min(3.5rem, 15px);
$header-3: min(3rem, 13px);
$header-4: min(2rem, 10px);
$text-color: #9CA2A7;
$emphaze-color: #E0E0E6;
$gree-color: #39FF27;
$gree-color-opacity-40: #39ff2766;
$gree-color-opacity-0: #39ff2700;