body {
	width: 100vw;
	height: 100vh;
	background-color: #151719;
}

html {
	font-size: 2ch;
}

html * {
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

#root {
	width: 85%;
	margin: 0 auto;
}