@import "@/styles/mixins.scss";
@import "@/styles/typo.scss";

@include for-size(mobile) {
	.typo {
		p {
			@include typography('body');
			margin-bottom: 10px;

			strong {
				color: var(--theme-subtext);
				font-weight: 500;
			}
		}
	}
}