.compactBooks {
	display: flex;
	flex-direction: row;
	gap: 10px;

	img {
		width: 100px;
	}

	svg,
	p {
		@include text;
	}

	span {
		@include header-1;
		position: relative;
		top: 15px;
	}

	div {
		display: flex;
		flex-direction: column;
		padding-top: 10px;
		padding-bottom: 10px;
		justify-content: space-between;
	}
}

.moreIcon {
	display: flex;
	align-items: center;

	svg {
		margin-right: 5px;
	}

	@include text;
	overflow: hidden;
	line-height: 16px;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}