.listElement {
	cursor: pointer;
	overflow: visible;
	display: flex;
	align-items: center;
	height: var(--font-size-h3);
	color: var(--theme-subtext);
}

.list {
	margin-top: 20px;
	overflow: hidden;
}

.Icon {
	width: var(--font-size-h5);
	margin-right: 13px;
	position: relative;
	top: 1px;
}