.listElement {
	font-size: 0.8rem;
	color: #66686A;
	font-weight: 400;
	margin-top: 15px;
	cursor: pointer;
	overflow: visible;
}

.list {
	margin-top: 20px;
	overflow: hidden;
}

.Icon {
	width: 17px;
	height: 17px;
	margin-right: 13px;
	color: #66686A;
	position: relative;
	top: 4px;
}