li {
    font-size: 0.7rem;
    color: #66686A;
    font-weight: 400;
    margin-top: 20px;
    height: 21px;
}

ul {
    margin-top: 20px;
}

.Icon {
    width: 17px;
    height: 17px;
    margin-right: 13px;
    color: #66686A;
    position: relative;
    top: 4px;
}