.Footer {
	@include text;
	overflow: hidden;

	* {
		overflow: hidden;
	}

	span {
		margin-right: 10px;
	}

	hr {
		margin-left: 5px;
		margin-right: 5px;
		height: 1px;
		border: 0px;
		background-color: $text-color;
		border-radius: 100px;
	}

	div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;

		p {
			display: flex;
			align-items: center;
			gap: 5px;
		}
	}
}

.Icon {
	width: $header-3;
}

.Signiture {
	width: 40%;
	height: 40%;
	margin: 0 auto;
	margin-top: 10px;
}