.Footer {
	color: #9CA2A7;
	overflow: hidden;

	* {
		overflow: hidden;
	}

	span,
	p {
		font-size: 0.7rem;
		font-weight: 400;
	}

	hr {
		margin-left: 5px;
		margin-right: 5px;
		height: 1px;
		border: 0px;
		background-color: #9CA2A7;
		border-radius: 100px;
	}

	p {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
	}
}

.Icon {
	width: 12px;
	height: 12px;
	position: relative;
	top: 2px;
}

.Signiture {
	width: 50%;
	height: 50%;
	margin: 0 auto;
	margin-top: 10px;
}