.Footer {
	overflow: hidden;

	* {
		overflow: hidden;
		color: var(--color-neutral);
	}

	span {
		margin-right: 10px;
	}

	hr {
		margin-left: 5px;
		margin-right: 5px;
		height: 1px;
		border: 0px;
		background-color: var(--color-neutral);
		border-radius: 100px;
	}

	div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;

		p {
			display: flex;
			align-items: center;
			gap: 5px;
		}

		span {
			margin-right: 0;
		}
	}
}

.Icon {
	width: var(--font-size-h6);
}

.Signiture {
	width: 40%;
	height: 40%;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}