.silinder {
	/*box-shadow: -4px -4px 20px 0px rgba(0, 0, 0, 0.20) inset;*/
	filter: blur(1.5px) drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.20));
	/*backdrop-filter: blur(10px);*/
	width: fit-content;
	height: fit-content;
}