.IconButton {
	background-color: transparent;
	border-radius: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	&:hover {
		background-color: var(--theme-hover);
	}
}

.Icon {
	color: var(--color-neutral);
}