.Info {
	display: flex;
	flex-direction: row;
	gap: 25px;
	align-items: flex-end;

	img {
		width: 105px;
		height: 105px;
	}

	div {
		p {
			color: #66686A;
			font-size: min(3rem, 13px);
			font-weight: 400;
			cursor: pointer;
			overflow: hidden;
			display: flex;
			align-items: center;
		}

		span {
			color: #E0E0E6;
			font-size: min(4.5rem, 20px);
			font-weight: 600;
		}
	}
}

.speekerIcon {
	margin-left: 7px;
	width: min(3rem, 13px);
}