:root {
  --color-neutral-dark: #616161;
  --color-neutral-light: #818181;
}

/* Light Theme */
html[data-theme="light"] {
  --theme-background: #fcfcfb;
  --theme-background-info: #dcdcdb;
  --theme-color: #0d0d0f;
}

/* Dark Theme */
html[data-theme="dark"] {
  --theme-background: #0d0d0f;
  --theme-background-info: #2d2d2f;
  --theme-color: #fcfcfb;
}

html {
  background-color: var(--theme-background);
  color: var(--theme-color);
  transition:
    background-color 0.3s,
    color 0.3s;
}
