body {
  opacity: 0;
  transition: opacity 0.3s;
}

.noscript {
  opacity: 1;
}

@media (width>=40rem) {
  main {
    max-width: 40rem;
  }
}

@media (width>=48rem) {
  main {
    max-width: 48rem;
  }
}

@media (width>=64rem) {
  main {
    max-width: 64rem;
  }
}

@media (width>=80rem) {
  main {
    max-width: 80rem;
  }
}

@media (width>=96rem) {
  main {
    max-width: 96rem;
  }
}

main {
  width: 100%;
  max-width: 32rem;
  margin-inline: auto;
  padding-inline: 10px;
}

@media (width>=40rem) {
  main {
    padding-inline: 20px;
  }
}

@media (width>=64rem) {
  main {
    max-width: 42rem;
    padding-inline: 100px;
  }
}

@media (width>=80rem) {
  main {
    max-width: 110ch;
    padding-inline: 120px;
  }
}
