header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  #profile-image {
    width: 13rem;
    height: 13rem;
    overflow: hidden;
    border-radius: 1rem;
    flex-shrink: 0;
  }

  #profile-info {
    align-items: flex-end;
    color: var(--theme-color);
    transition: color 0.3s;

    p {
      color: var(--color-neutral-light);
      font-weight: 300;
    }
  }

  img {
    width: 13rem;
    object-fit: cover;
    object-position: top;
  }
}
