@media print {
  @page {
    size: A4 portrait;
    margin-top: 3cm;
    margin-bottom: 1.5cm;
    margin-left: 2cm;
    margin-right: 2cm;
  }

  body {
    margin: 0 !important;
  }

  nav,
  footer {
    display: none !important;
  }

  header {
    margin: 0 !important;
    padding: 0 !important;
    align-items: flex-end !important;
  }

  #profile-image {
    border-radius: 0px !important;
    height: 100% !important;
  }

  #profile-info {
    align-items: flex-start !important;
  }

  main {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  html,
  html * {
    background-color: white !important;
    color: black !important;
  }

  a {
    background: none !important;
    background-image: none !important;
    text-decoration: none !important;
    font-weight: 700 !important;
  }

  address {
    display: none !important;
  }

  .print-contact {
    display: block !important;
  }

  strong {
    font-weight: 700 !important;
  }

  .tag {
    border-color: black !important;
  }
}
