@media print {
  body {
    margin: 0 !important;
  }

  nav {
    display: none !important;
  }

  header {
    margin: 0 !important;
    padding: 0 !important;
  }

  main {
    max-width: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }

  html,
  html * {
    background-color: white !important;
    color: black !important;
  }

  a {
    background: none !important;
    background-image: none !important;
    text-decoration: none !important;
  }
}
