:root {
  --space-xs: 0.6rem;
  --space-s: 2rem;
  --space-lg: 5rem;
}

/* Margin */
.mt-lg {
  margin-top: var(--space-lg);
}
.mt-xs {
  margin-top: var(--space-xs);
}
.mr-s {
  margin-right: var(--space-s);
}

/* padding */
.pt-xs {
  padding-top: var(--space-xs);
}
.pb-xs {
  padding-bottom: var(--space-xs);
}
