@import url(../fonts/font-face.css);

:root {
  --font-family-primary:
    "KoPubWorldDotum", -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Fluent Emoji Color", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  --typo-h1-size: 2.5rem;
  --typo-h1-weight: 700;
  --typo-h1-lh: 1.4;

  --typo-h2-size: 2rem;
  --typo-h2-weight: 700;
  --typo-h2-lh: 1.4;

  --typo-body-size: 1.4rem;
  --typo-body-weight: 500;
  --typo-body-lh: 1.4;
}

html {
  font-size: 62.5%;
}

h1 {
  font-family: var(--font-family-primary);
  font-size: var(--typo-h1-size);
  font-weight: var(--typo-h1-weight);
  line-height: var(--typo-h1-lh);
}

h2 {
  font-family: var(--font-family-primary);
  font-size: var(--typo-h2-size);
  font-weight: var(--typo-h2-weight);
  line-height: var(--typo-h2-lh);
}

p {
  font-family: var(--font-family-primary);
  font-size: var(--typo-body-size);
  font-weight: var(--typo-body-weight);
  line-height: var(--typo-body-lh);
}
